<p>
<strong>commenter:</strong>
<%= comment.commenter %>
</p>
<p>
<strong>comment:</strong>
<%= comment.comment %>
</p>
<p>
	<%=link_to "delete comment" , [comment.post , comment] , method: :delete, data: {confirm: "are you sure?"} %>
</p>